html {
	cursor: default;
}
html, body, .page, .wrap {
	height: 100%;
}
.wrap {
	overflow: hidden;
	position: relative;
}
.page {
	width: 100%;
	position: absolute;
}
.page1 {
	top: 0%;
	background-image: url("../images/star.jpg");
	background-size: 100% 99.8%;
	background-repeat:no-repeat;
	opacity: 0.8;
}
.page2 {
	top:99.9%;
}
.page3 {
	top: 199%;
}
.page4 {
	top: 298%;
}
.page5 {
	top: 396%;
}
.contentTransition {
	-webkit-transition: top .8s ease-in;
	transition: top .8s ease-in;
}
.wrap > nav {
	width: 100%;
	overflow: hidden;
	position: fixed;
	background: -webkit-linear-gradient(
		          hsl(26, 53%, 6%), hsl(26, 53%, 6%) 30px);
	background: -o-linear-gradient(
		          hsl(26, 53%, 6%), hsl(26, 53%, 6%) 30px);
	background: linear-gradient(
		          hsl(26, 53%, 6%), hsl(26, 53%, 6%) 30px);;
	z-index: 99;
}
.wrap > nav ul li {
	float: left;
	font: 25px/2.5 "Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif;
	font-weight: bold;
	color: rgb(230,230,230);
	width: 15%;
	margin-left: 5%;
}
.wrap > nav ul li>a:hover{
	color: #fff;
}
.description img {
	border-radius: 50% 50%;
	width: 140px;
	height: 130px;
	border: 8px solid rgb(255,255,239);
	margin: 0 auto;
	display: block;
	margin-top: 10%;
}
.description p {
	margin: 0 auto;
	text-align: center;
	font-size: 1.8em;
	margin-top: 40px;
	color: rgb(230,230,230);
}
.description > p:first-of-type {
	margin-top: 100px;
}
#about section {
	overflow: hidden;
}
#about div.build {
	width: 40%;
	height: 100%;
	float: left;
	position: relative;
}

#about header,  #ability header, #contract header{
	font-size: 2em;
	font-weight: bold;
	margin-top: 10%;
	margin-left: 10%;
}
.build {
	background-image: url('../images/build.jpeg');
	background-size: 100% auto;
	z-index: -1;
}
#about li, #ability li, #contract li{
	margin-left: 10%;
	margin-top: 5%;
	font-size: 1.3em;
}
#work nav {
	margin-top: 10%;
	margin-left: 10%;
	overflow: hidden;
	height: 100%;
}
#work {
	background-color: rgb(39,174,96);
}
#work ul {
	height: 100%;
}
#work ul li {
	float: left;
	margin-left: 20px;
	color: #fff;
	width: 30%;
	height: 20%;
	margin-top: 30px;
	border: 2px solid #000;
}
#work li a {
	color: #000;
}

#ability {
	background-color: rgb(36,114,164);
}
#ability li {
	margin-top: 2%;
}
#contract {
	background-color: rgb(192,45,43);
}
#contract li {
	margin-top: 2%;
}
#contract header.statement {
	margin-top: 3%;
}
#contract p {
	margin-top: 2%;
	margin-left: 10%;
}
#contract a{
	color: rgb(230,230,230);
}