html, body, div, h2, h4, header, hgroup, p, nav, ul, ol, li{
	margin: 0;
	padding: 0;	
	border: 0 none;
	outline: 0 none;
	font-size: 100%;
}
/* set body color*/
body{
	/** 采用rgb模式，IE8及以下浏览器可以识别*/
	background-color: rgb(240, 240, 235);
	font-family: "微软雅黑","Arial","Helvetica","sans-serif";
	font-size: 1em;
}

/* set ul and ol style*/
ol, ul{
	list-style: none;
}

a {
	text-decoration: none;
	color: rgb(143, 138, 124);
}

blockquote {
	font-style: italic;
}

/** To change the color when select the text **/
*::selection {
	background: #0099cc;
}

*::-moz-selection {
    background: none repeat scroll 0 0 #FF5F3E;
    color: #0099cc;
}

/** change the pointer style **/
html {
	cursor: url("../images/pencil.png"),auto;
}

/** in order to let IE 6-8 support html5*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video { 
	display: inline-block; *display: inline; *zoom: 1; 
}

#container{
	background-color: rgb(235, 233, 226);
	width: 80%;
	/*设置阴影*/
	/**
	    -webkit-box-shadow: 0 0 8px 4px #DDD;
	    -moz-box-shadow: 0 0 8px 4px #DDD;
		box-shadow: 0 0 8px 4px #DDD;           去掉，不然的话会导致浏览器不断重绘
	**/
	/* IE<=8不支持此属性 */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
}	
#container > header, .header {
	padding-left: 10px;
	position: relative;
	border: 1px dashed #DDD6C5;
	min-height: 160px;
}

#container > header > div, .top_left{
	font-family: 'Josefin Slab',Helvetica,Arial,serif;
	position: relative;
	height: auto;
	font-size: 2em;
}
.logo{
	background: url('../images/heimanba.png') no-repeat scroll 0 0 transparent;
	width: 150px;
	height: 150px;
	position: absolute;
	top: -45px;
	left: -10px;
}
#container > header > div > hgroup > h2, .main_title{
	margin-top: 40px;
	margin-left: 150px;
}
.title > h4, .sub_title {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 0.6em;
	margin-top: 10px;
	margin-left: 150px;
}
#container > header > nav, .top_right{
	position: absolute;
	right: 100px;
	bottom: 40px;
}
.top_right ul li {
	font-size: 1.3em;
	font-weight: bold;
	float: left;
	margin-left: 50px;
}

.top_right ul li > a {
	width: 100px;
	height: 30px;
	display: block;
	-webkit-transition: background .2s ease-out;
	-moz-transition: background .2s ease-out;
}

.img_left {
	background: url("../images/blog.png") no-repeat -20px -8px;
}

.img_left:hover {
	background: url("../images/blog.png") no-repeat -20px -80px;
}

.img_right {
	background: url("../images/aboutme.png") no-repeat -5px -8px;
	width: 120px !important;
}

.img_right:hover {
	background: url("../images/aboutme.png") no-repeat -5px -80px;
}

#container > div {
	border-bottom: 1px dashed #DDD6C5;
	border-left: 1px dashed #DDD6C5;
	border-right: 1px dashed #DDD6C5;
	overflow: hidden;
}

#container > div > section {
	border-right: 1px dashed #DDD6C5;
	width: 70%;
	height: auto;
	display: inline-block;
}
#container > div > section > article {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px dashed #DDD6C5;
}

#container > div > section header {
	font-size: 1.6em;
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

#container > div > section footer {
	margin: 0 0 0 30px;
	font-size: 1.3em;
}

#container > div > section footer a {
	color: #4A75B5;
	-webkit-text-shadow: 10px 10px 10px #000;
	-moz-text-shadow: 10px 10px 20px #000;
	text-shadow: 10px 10px 20px #000;
}

.sub_arti {
	font-size: 0.5em;
	color: #8F8A7C;
	/*text-align: center;*/
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.sub_arti span {
	font-size: 2em;
	color: black;
}

#container > div > aside {
	width: 29.4%;
	float: right;
	overflow: hidden;
}

#container > div > aside section, .aside_sec{
	border-bottom: 1px dashed #DDD6C5;
	text-align: center;
	overflow: hidden;
}

.aside_sec > header {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.3em;
	color: #555;
	letter-spacing: 3px;
}

.aside_sec > nav {
	margin-bottom: 40px;
}

.aside_sec a {
	text-decoration: underline;
}

.post a {
	color: #33B5E5;
	float: left;
	width: 48%;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1.2em;
}

footer {
	width: 60%;
	margin: 0 auto;
	margin-top: 40px;
}

footer > section {
	float: left;
	width: 40%;
	margin-left: 70px;
}

footer > section > header {
	color: #BBB;
	font-size: 1.5em;
	padding-bottom: 20px;
	border-bottom: 2px solid #444;
	margin-bottom: 25px;
}

footer > section a {
	color: #5E8DBA;
	text-decoration: underline;
}

.changecolor {
	color: rgb(0,0,0);
}

.post {
	position: fixed;
	width: 300px;
	left: 68%;
	bottom: 0%;
}
.noborder {
	border: none !important;
}

/**  正文部分  **/
.entry {
    padding-left: 30px;
    padding-right: 30px;    
}

.main_content > section > article > header > a:hover {
    color: rgb(33, 182, 238);
    -webkit-mask-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,1)),to(rgba(0,0,0,.5)));
}

.entry h2{
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: bold;
}

.entry p {
    line-height: 1.7em;
    margin-bottom: 25px;
}

.entry ul {
    margin-bottom: 20px;
    list-style-type: disc;
    margin-left: 50px;
    line-height: 1.7em;
}

.entry a {
    color: #4A75B5;
}

.entry a:hover {
    text-decoration: underline;
}

/** 文章边栏处理 **/
.menulist {
	position: fixed;
	top: 30%;
	right: 11%;
	max-height: 500px;
	width: 300px;
	overflow: scroll;
	/*white-space: nowrap;*/
	/*text-overflow: ellipsis;*/ 
}

.menulist a {
	color: #4A75B5;
	outline: none;	
}

.menulist li {
	margin-bottom: 7px;
}

.h1 {
	font-size: 1.3em;
}

.h2 {
	font-size: 1em;
	margin-left: 20px;
}

.h3 {
	font-size: 0.8em;
	margin-left: 30px;
}

/**----------------------------
 *      评论模块
 * ----------------------------*/
#disqus_thread {
	width: 64.7%;
	height: auto;
	padding-left: 30px;
	padding-right: 30px;
	border-right: 1px dashed #DDD6C5;
}

/**--------------------------------
 *      搜索模块
 * --------------------------------*/
.search{
	font-size: 1em;
}

.search > ul > li {
	padding-left: 30px;
	margin-top: 20px;
	border-bottom: 1px dashed #DDD6C5;
	padding-bottom: 10px;
}

.search > ul > li a {
	color: #12C;
	font-size: 1.5em;	
	text-decoration: underline;
}

.search > ul > li a:hover {
 	color: rgb(33, 182, 238);
	-webkit-mask-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,1)),to(rgba(0,0,0,.5)));	
}

.searurl {
	color: #093;
}

.seardate {
	color: #666;
}
/*------------------------------------
 *           回到顶部样式
 *------------------------------------*/

img.top {
	background-image: url(../images/point-up.png);
	position: fixed;
	top: 700px;
	left: 1100px;
	border: none;   /*避免IE出现边框*/
}

a.atop > img:hover {
	opacity: 0.5;
}

/*------------------------------------
 *           代码高亮
 *------------------------------------*/
pre {
    font-size: 1.2em;
    line-height: 25px;
    padding-left: 30px;
    overflow: auto;
}

pre code {
    background-color:transparent;
    border:none;
    padding:0;
    word-wrap:normal;
}

pre ol {
    margin-left:25px;
    list-style-type:decimal;
}
