---
layout:    main
---
<!-- main content -->
<section class="articles">
	{% for post in paginator.posts %}
  		<article>
			<header><a href="{{ post.url }}" class="changecolor">{{ post.title }}</a></header>
			<!-- <p class="sub_arti">{{ post.date | date_to_string }}</p>
			<p class="sub_arti">{{ site.author.name }}</p> -->
			<!-- 设置class来实现正文的标签格式化 -->
			<section class="entry">
				{{ post.content }}
			</section>
			<footer>
				<a href="{{ post.url }}#disqus_thread">查看评论</a>
			</footer>
		</article>
	{% endfor %}
</section>

<!-- 遍历所有的文章记录tags，时间 -->
{% for post in site.posts %}
	<nav class="type" style="display: none;">
		<ul class="lists">
			<li class="atitle">{{ post.title }}</li>
			<li class="url">{{ post.url }}</li>
			<li class="tags">{{ post.tags }}</li>
			<li class="date">{{ post.date | date:"%Y-%m" }}</li>
		</ul>
	</nav>
{% endfor %}

<!-- 侧边栏 -->
<!-- aside part -->
<aside>
	<section class="aside_sec archives">
		<header>ARCHIVES</header>
		<nav>
			<ul>
			</ul>
		</nav>	
	</section>	
	<section class="aside_sec categories">
		<header>CATEGORIES</header>
		<nav>
			<ul>
			</ul>
		</nav>	
	</section>
	<section class="aside_sec">
		<header>LINKS</header>
		<nav>
			<ul>
				<li><a href="http://beiyuu.com" target="_blank" title="BeiYuu">BeiYuu</a></li>
				<li><a href="http://ooxx.me/" target="_blank" title="大猫の意淫筆記">大猫の意淫筆記</a></li>
				<li><a href="http://csshouse.net" target="_blank" title="CSS HOUSE">CSS HOUSE</a></li>
				<li><a href="http://www.qianduan.net/" target="_blank" title="前端观察">前端观察</a></li>
			</ul>
		</nav>	
	</section>
	<!-- goto old page or new page -->
	<section class="post noborder">
		<nav>
			<ul>
				<!-- 分页显示 -->
				{% if paginator.next_page %}
					<li><a href="/page{{ paginator.next_page }}">← Older posts</a></li>
				{% else %}
					<li><a href="/page{{ paginator.next_page }}" style="visibility: hidden;">← Older posts</a></li>
				{% endif %}
				{% if paginator.previous_page %}
					<!-- 解决page1问题，liquid不会自动生成page1 -->
					{% if paginator.previous_page == 1 %}
						<li><a href="/">Newer posts →</a></li>
					{% else %}
						<li><a href="/page{{ paginator.previous_page }}">Newer posts →</a></li>
					{% endif %}
				{% else %}
					<li><a href="/page{{ paginator.previous_page }}" style="visibility: hidden;">Newer posts →</a></li>
				{% endif %}
			</ul>	
		<nav>
	</section>
</aside>

<script type="text/javascript" src="/js/index.js"></script>