---
layout:    default
---
<!-- add fork me icon -->
<a href="https://github.com/JackieLin/forkme"><img style="position: absolute; top: 0; right: 0; border: 0;" src="../images/forkme_right_red.png" alt="Fork me on GitHub"></a>

<!-- page divide two parts-->
<div id="container">
	<div class="header">
		<header class="top_left">
			<!-- insert logo -->
			<a href="/" class="logo"></a>		
			<hgroup class="title">
				<h2 class="main_title">Black Manba</h2>
				<h4 class="sub_title">独立 凶狠 渴望 胜利 自由</h4>
			</hgroup>
		</header>
		<nav class="top_right">
			<ul>
				<li><a href="/" class="img_left"></a></li> 
				<li><a href="#" class="img_right"></a></li>
				<li><a href="http://forkme.info/atom.xml" class="rss">RSS</a></li>
			</ul>	
		</nav>
	</div>	
	<div class="main_content">
		{{ content }}
	</div>
	<!-- 添加返回到顶部 -->
	<a href="javascript:;" title="回到顶部" class="atop" style="display: none;">
		<img alt="回到顶部" title="回到顶部" src="../images/point-up.png" class="top" />
	</a>
</div>
<footer>
	<!-- the left side -->
	<section>
		<header>Contact</header>
		<div id="weibo">
			<iframe width="100%" height="75px" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=75&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1991242543&verifier=c09974f5&dpc=1"></iframe>
		</div>		
	</section>
	<!-- the middle side -->
	<section>
		<header>Project</header>
		<nav>
			<ul>
				<li><a href="https://github.com/JackieLin/forkme" target="_blank">Forkme</a></li>
				<li><a href="https://github.com/JackieLin/teacherw" target="_blank">Teacherw</a></li>
				<li><a href="https://github.com/JackieLin/shell" target="_blank">Shell</a></li>
			</ul>
		</nav>
	</section>
</footer>
