---
layout: main
---
<!-- 具体文章模块 -->
<section class="articles">
	<article>
		<header>
			<a href="{{ page.url }}" title="{{ page.title }}" class="changecolor arti_title">{{ page.title }}</a>
			<p class="sub_arti">{{ page.date | date:"%Y-%m-%d" }}</p>
		</header>
		<!-- 设置class来实现正文的标签格式化 -->
		<section class="entry">
			{{ content }}
		</section>
		<p class="sub_arti" class="post">  
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .-~~\       <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\ _    <br />
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~x&nbsp;&nbsp;&nbsp;.-~_)   <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~x".-~       <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( /  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span>→ Post by {{ site.author.name }}</span>
		</p>
	</article>
</section>

<!-- 添加评论 -->
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'jackielin'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
   (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>
		Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    

<script type="text/javascript" src="/js/post.js"></script>
