---
layout: main
---
<link rel="stylesheet" type="text/css" href="/js/prettify/desert.css" />
<!-- 具体文章模块 -->
<section class="articles">
	<article>
		<header>
			<a href="{{ page.url }}" title="{{ page.title }}" class="changecolor arti_title">{{ page.title }}</a>
			<p class="sub_arti">{{ page.date | date:"%Y-%m-%d" }}</p>
		</header>
		<!-- 设置class来实现正文的标签格式化 -->
		<section class="entry">
			{{ content }}
		</section>
		<p class="sub_arti" class="post">  
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .-~~\       <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\ _    <br />
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~x&nbsp;&nbsp;&nbsp;.-~_)   <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~x".-~       <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( /  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span>→ Post by {{ site.author.name }}</span>
		</p>
	</article>
</section>
<div class="comment"></div>
<!-- 添加评论 -->
<div id="disqus_thread"></div>
<script type="text/javascript" src="/js/prettify/prettify.js"></script>
<script type="text/javascript" src="/js/post.js"></script>

<!-- 添加分享图标 -->

<!-- Baidu Button BEGIN -->
<script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=5&amp;pos=left&amp;uid=6886522" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
var bds_config={"bdTop":221};
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END -->
